<h1>User Logs</h1>

<table class="responsive nowrap table table-hover" id="dttb-user_logs" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="u_id">U</th>
      <th data-data="user_id">User</th>
      <th data-data="name">Name</th>
      <th data-data="branch_id">Branch</th>
      <th data-data="role_id">Role</th>
      <th data-data="email">Email</th>
      <th data-data="phone1">Phone1</th>
      <th data-data="phone2">Phone2</th>
      <th data-data="address">Address</th>
      <th data-data="note">Note</th>
      <th data-data="password">Password</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New User Log', new_user_log_path %>