<h1>Debts</h1>

<table class="responsive nowrap table table-hover" id="dttb-debts" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="sale">Sale</th>
      <th data-data="user">User</th>
      <th data-data="branch">Branch</th>
      <th data-data="remainder">Remainder</th>
      <th data-data="paid">Paid</th>
      <th data-data="amount">Amount</th>
      <th data-data="note">Note</th>
      <th data-data="status">Status</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Debt', new_debt_path %>