<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-edit"></i> <%= t('user.edit') %></h1>
</div>

<% if current_user %>
	<% if current_user.role.en == "admin" %>
		<%= render 'form', user: @user %>
	<% else %>
		<%= render 'user_form', user: @user %>
	<% end %>
<% end %>
