<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%%= t('<%= singular_table_name %>.new') %></h1>
</div>

<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
