<h1>Products</h1>

<table class="responsive nowrap table table-hover" id="dttb-products" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="item">Item</th>
      <th data-data="branch">Branch</th>
      <th data-data="user">User</th>
      <th data-data="amount">Amount</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Product', new_product_path %>